#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.3rem;
}

li{
  background-color: gray;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

p{
  margin: 0;
}

p:hover{
  cursor: pointer;
}

.checada{
  text-decoration: line-through;
  color: orange;
}